{%load staticfiles%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Bstudio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'css/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/Pretty-Header.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top custom-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#" id="logooh"><img class="img-responsive" src="{% static 'css/img/otak logo kaos.png' %}" width="100" height="100" id="logo-kaos">Otak <span id="tas"> Keren</span> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right links">
                    <li role="presentation"><a href="#">About </a></li>
                    <li role="presentation"><a href="#">Contact </a></li>
                    <li role="presentation"><a href="#">Disclaimer </a></li>
                    <li role="presentation"><a href="#">Sitemap </a></li>
                    <li role="presentation"><a href="#" class="custom-navbar">Product<span class="badge">HOT </span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="atas">
        <div id="bg">
            <div class="jumbotron">
                <h1 id="judul">Otak Keren Shop</h1>
                <p id="desc"><em>Otak Keren Programming Shop adalah toko online yang menyediakan berbagai macam kaos sablon keren yang ditujukan untuk seluruh programmer dan yang non-programmer. </em></p>
                <p><a class="btn btn-info active btn-lg" role="button" href="#">Pesan Sekarang !</a></p>
            </div>
        </div>
        <div id="back-color">
            <div class="container welcome" id="wel">
                <h1><strong>WELCOME TO OTAK KEREN SHOP</strong></h1>
                <p>Toko kami menyediakan 3 pilihan tipe kaos. Kaos Oblong biasa, kaos oblong gildan dan kaos polo. Kaos oblong adalah tipe kaos dengan model sederhana dengan bahan katun combed 30s, kaos gildan adalah kaos dengan design yang sama dengan kaos
                    oblong tetapi menggunakan bahan dan build quality yang lebih mantap. Kaos gildan tidak memiliki jahitan pada sisi sampingnya.Kaos polo adalah tipe kaos dengn design macho dan keren dengan bahan lacosteCVC (Tekstur kulit jeruk) dengan
                    bordir komputer, ditambah design logo - logo IT pada sisi depan dan belakangnya. </p>
            </div>
            <div class="container visible-sm-block visible-md-block visible-lg-block visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline welcome" id="come">
                <h1><strong>ABOUT OTAK KEREN SHOP</strong></h1>
                <div class="row">
                    <div class="col-md-4 teks"><img class="img-rounded img-responsive gambar" src="{% static 'css/img/placeholder.png' %}" width="100" height="100">
                        <h2> LOKASI</h2>
                        <p>Lokasi kami berada di Daerah Istimewa Yogyakarta. Setiap pengiriman akan menggunakan JNE/WAHANA/POS INDONESIA. Khusus DIY gratis Ongkir</p>
                    </div>
                    <div class="col-md-4 teks"><img class="img-rounded img-responsive gambar" src="{% static 'css/img/dollar.png' %}" width="100" height="100">
                        <h2>MURAH </h2>
                        <p>Kaos kami menggunakan bahan berkualitas tetapi tetap dengan harga yang terjangkau. Dimulai dari 75k rupiah saja untuk semua varian kaos yang kami sediakan</p>
                    </div>
                    <div class="col-md-4 teks"><img class="img-rounded img-responsive gambar" src="{% static 'css/img/24-hours.png' %}" width="100" height="100">
                        <h2>PENGIRIMAN </h2>
                        <p>Pengiriman barang kami lakukan 24 jam setelah barang dipesan. Pengiriman juga kami kerjakan hanya pada waktu hari kerja. Dari Senin sampai Jumat</p>
                    </div>
                </div>
                <div id="galeri">
                    <h1>PRODUK OTAK KEREN SHOP</h1></div>
            </div>
            <div id="gambarnya">
                <div class="row" id="jarak">
                    <div class="col-md-4 pict">
                        <a href="{% static 'css/img/design with code - hijau tosca.png' %}" target="_blank" data-lightbox="produk"><img class="img-thumbnail img-responsive" src="{% static 'css/img/design with code - hijau tosca.png' %}" width="315" data-lightbox="produk"></a>
                        <h2>Kaos Oblong Sablon</h2>
                        <p>Kaos Oblong kami menggunakan bahan atun combed 30s yang nyaman saat dipakai dan menyerap keringat, sehingga kaos sablon kami cocok untuk aktivitas didalam maupun diluar ruangan. </p>
                        <button class="btn btn-primary" type="button">Lainnya </button>
                    </div>
                    <div class="col-md-4 pict">
                        <a href="{% static 'css/img/rag debian.png' %}" target="_blank" data-lightbox="produk"><img class="img-thumbnail img-responsive" src="{% static 'css/img/rag debian.png" width="315" height="300" data-lightbox="produk"></a>
                        <h2>Kaos Raglan Sablon</h2>
                        <p>Kaos Raglan juga menggunakan katun combed 30s yang nyaman dan menyerap keringat, bedanya design lengan raglan adalah ¾ lengan. </p>
                        <button class="btn btn-primary" type="button">Lainnya </button>
                    </div>
                    <div class="col-md-4 pict">
                        <a href="{% static 'css/img/kali linux.png' %}" target="_blank" data-lightbox="produk"><img class="img-thumbnail" src="{% static 'css/img/kali.png" width="315" height="300" data-lightbox="produk"></a>
                        <h2>Kaos Polo Sablon</h2>
                        <p>Kaos Polo kami memiliki bahan lacoste CVC dengan tekstur seperti kulit jeruk dengan bordir menggunakan komputer. Kaos ini memberikan kesan macho dan trendi untuk kamu yang memakai kaos ini. </p>
                        <button class="btn btn-primary" type="button">Lainnya </button>
                    </div>
                </div>
            </div>
            <div>
                <h1 id="why"><strong>MENGAPA OTAK KEREN SHOP </strong>?</h1>
                <div id="bagi4-cuy">
                    <div class="row bagi4">
                        <div class="col-md-6">
                            <a href="{% static 'css/img/model bs 1.png' %}" target="_blank" data-lightbox="model"><img class="img-thumbnail img-responsive" src="{% static 'css/img/model bs 1.png' %}" width="700" height="700"></a>
                        </div>
                        <div class="col-md-6">
                            <h1><strong>Bahan Sablon Berkualitas Tinggi</strong></h1>
                            <p><strong>Kaos kami menggunakan bahan Katun combed 30s, dan juga bahan gildan yang merupakan bahan yang lembut, tidak berbulu dan tidak ada jahitan samping, jadi&nbsp; pastinya menyerap keringat. Kaos Kami menggunakan sablon manual dengan cat sablon merk Matsui dengan finishing hot press. Hasil sablon tipis, lembut jika diraba dan pastinya sangat detail dan tahan lama walaupun sudah dicuci berkali – kali meskipun dengan mesin cuci. . </strong></p>
                        </div>
                    </div>
                    <div class="row bagi4">
                        <div class="col-md-6 col-md-offset-0">
                            <h1><strong>Cocok Dipakai Cowok Ataupun Cewek</strong></h1>
                            <p><strong>Kaos kami tersedia dalam berbagai macam varian design dan warna serta tersedia untuk semua ukuran badan. Ini menjadikan kaos kami cocok untuk sobat pakai bik laki - laki ataupun perempuan.</strong></p>
                        </div>
                        <div class="col-md-6">
                            <a href="{% static 'css/img/model bs 2.png' %}" target="_blank" data-lightbox="model"><img class="img-thumbnail img-responsive" src="{% static 'css/img/model bs 2.png' %}" width="650" height="500"></a>
                        </div>
                    </div>
                    <div class="row bagi4">
                        <div class="col-md-6">
                            <a href="{% static 'css/img/model bs 3.png' %}" target="_blank" data-lightbox="model"><img class="img-thumbnail img-responsive" src="{% static 'css/img/model bs 3.png' %}" width="600" height="500"></a>
                        </div>
                        <div class="col-md-6">
                            <h1><strong>Nyaman Dipakai Keluar Rumah</strong></h1>
                            <p><strong>Kaos Sablon kami yang menggunakan Katun Combed 30s begitu nyaman saat dipakai, dan yang paling penting adalah kemampuan yang baik dalam menyerap keringat, sehingga kaos sablon kami sangat nyaman walaupun dipakai keluar rumah.</strong></p>
                        </div>
                    </div>
                    <div class="row bagi4">
                        <div class="col-md-6">
                            <h1><strong>Desainnya Cocok Buat Para Penggiat IT</strong></h1>
                            <p><strong>Sebagian besar kaos sablon yang tersedia pada toko kami menggunakan design yang tidak asing lagi bagi para penggiat IT. Oleh karena itu kaos kami sangat cocok jika dipakai saat mendatangi gathering Programer </strong></p>
                        </div>
                        <div class="col-md-6">
                            <a href="{% static 'css/img/model bs 4.png' %}" data-lightbox="model"><img class="img-thumbnail img-responsive" src="{% static 'css/img/model bs 4.png' %}" width="700" height="600"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#"><img class="img-responsive" src="{% static 'css/img/otak logo kaos.png' %}" width="100" height="100" id="logo-kaos">Otak <span>Keren </span></a></h3>
                <p class="links"> <a href="#">Home</a><strong> · </strong><a href="#">Sitemap </a><strong> · </strong><a href="#">Disclaimer </a><strong> · </strong><a>About</a> <strong>· </strong><a href="#">Contact</a> <strong>·</strong> <a href="#">Product </a></p>
                <p
                class="company-name">Otak Keren © 2017 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Jalan Mana Saja</span> Yogyakarta, Indonesia</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +6281 2341 6640</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">iqbal19600@gmail.com</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> <em>Otak Keren Programming Shop adalah toko online yang menyediakan berbagai macam kaos sablon keren yng ditujukan untuk seluruh programmer dan yang non-programmer.</em>
                </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="{% static 'css/js/jquery.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>